@font-face {
    font-family: 'Robotaur 3D';
    font-style: normal;
    font-weight: normal;
    src: local('Robotaur 3D'), url('../assets/fonts/robotaur3d.woff') format('woff');
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 77%, rgba(3,55,65,1) 98%);
}

h1 {
    font-family: 'Robotaur 3D';
    color: red;
}